[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
nose = "*"
bestbuyapi = {editable = true,path = "."}
coverage = "*"
black = "*"

[packages]
requests = "*"
chardet = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
